@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
@section Scripts {
    <script src="js/core.js"></script>
    <script src="js/zone.js"></script>
    <script src="js/reflect.js"></script>
    <script src="js/system.js"></script>
    <script src="/app/Components/Products/page-bootstrappers/admin/admin-bootstrap.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="/systemjs.config.js"></script>
   

}

<div class="container">
    <caform>Loading...</caform>
</div>


