@using Microsoft.AspNetCore.Identity
@using dotnetEtalon.Models


@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" title="Manage">Good afternoon User.Identity.Name!</a>
            </li>
            <li>
@if (User.Claims.Count(x=>x.Type.ToLower() == "permission-edit")>0)
{
                <a asp-area="" asp-controller="Admin" asp-action="Index" title="Manage">Administration</a>
}
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Quit</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registration</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Enter</a></li>
    </ul>
}
