@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="js/core.js"></script>
    <script src="js/zone.js"></script>
    <script src="js/reflect.js"></script>
    <script src="js/system.js"></script>
    <script src="libs/angularold/angular.js"></script>
    <script src="libs/angular-ui-grid/ui-grid.js"></script>
    <link rel="stylesheet" href="/libs/angular-ui-grid/ui-grid.css" />
    <!-- 2. Configure SystemJS -->
    <script src="/systemjs.config.js"></script>
   
}


<div class="container">
  Демонстрационное приложение Angular2 typecript kendo-ui
</div>


