@{
    ViewData["Title"] = "Закрытая информация";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

Акционеры на закрытом заседании договорились о специальной эмиссии акций по привлекательным ценам
 